#mycontainer {
    background-color: black;
    color: white;
}
.dropdown:hover > .dropdown-menu{
    display: block;
}
#mycontainer h2,
h1,
h4,
h5,
h6,h3{
    color: rgba(198, 155, 47, 0.776);
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#mycontainer a {
    text-decoration: none;
    color: rgba(198, 155, 47, 0.776);
}
#mycontainercontact a{
    color: rgba(198, 155, 47, 0.776);
background-color: black;
border: 2px solid rgba(198, 155, 47, 0.776);
text-align: center;
}


#mycontainercontact a:hover{
    background-color:rgba(198, 155, 47, 0.776) ;
    color: black;
}